@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --card: 0 0% 96%;
    --card-foreground: 0 0% 20%;

    --popover: 0 0% 96%;
    --popover-foreground: 0 0% 20%;

    --primary: 0 0% 20%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 50%;
    --secondary-foreground: 0 0% 0%;

    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 40%;

    --accent: 0 0% 50%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 0% 70%;
    --destructive-foreground: 0 0% 0%;

    --border: 0 0% 80%;
    --input: 0 0% 80%;
    --ring: 0 0% 20%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --card: 0 0% 10%;
    --card-foreground: 0 0% 90%;

    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 90%;

    --primary: 0 0% 90%;
    --primary-foreground: 0 0% 10%;

    --secondary: 0 0% 50%;
    --secondary-foreground: 0 0% 90%;

    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 80%;

    --accent: 0 0% 50%;
    --accent-foreground: 0 0% 90%;

    --destructive: 0 0% 30%;
    --destructive-foreground: 0 0% 90%;

    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 0 0% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .bg-gray-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(250 250 250 / var(--tw-bg-opacity));
  }
  .bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(245 245 245 / var(--tw-bg-opacity));
  }
  .bg-gray-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(229 229 229 / var(--tw-bg-opacity));
  }
  .bg-gray-300 {
    --tw-bg-opacity: 1;
    background-color: rgb(212 212 212 / var(--tw-bg-opacity));
  }
  .bg-gray-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(163 163 163 / var(--tw-bg-opacity));
  }
  .bg-gray-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(115 115 115 / var(--tw-bg-opacity));
  }
  .bg-gray-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(82 82 82 / var(--tw-bg-opacity));
  }
  .bg-gray-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(64 64 64 / var(--tw-bg-opacity));
  }
  .bg-gray-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(38 38 38 / var(--tw-bg-opacity));
  }
  .bg-gray-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(23 23 23 / var(--tw-bg-opacity));
  }
}
